@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Poppins',sans-serif;
}

.navbar ul li a{
    color: navy !important;
}
.navbar ul li a:hover{
   color: blue !important;
}
#banner{
    background:linear-gradient(rgba(0,0,0,0.5),#39a2ed), url('img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script',cursive;

}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}